* {
    box-sizing: border-box;
}
.quickEditor {
    font-family: 'open sans', 'sans serif';
    color: #4e5983;
}

.quickEditor {
    padding: 0;
    margin: 0;
    width: 100%;
    background: #e1eef6;
    display: block;
}

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
.quickEditor {
    /* Checkbox */
    /* Customize the label (the container) */
    /* Hide the browser's default checkbox */
    /* Create a custom checkbox */
    /* On mouse-over, add a grey background color */
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
    /* Style the checkmark/indicator */
    /* Pop up */
    /* Left Blcok */
    /* Content Blcok */
    /* Right Blcok */
}
.quickEditor ul {
    margin: 0;
    padding: 10px;
}
.quickEditor ul li {
    margin: 0;
    list-style: none;
}
.quickEditor ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
.quickEditor ::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.quickEditor hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.quickEditor audio, .quickEditor canvas, .quickEditor iframe, .quickEditor img, .quickEditor svg, .quickEditor video {
    vertical-align: middle;
}
.quickEditor fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
.quickEditor textarea {
    resize: vertical;
}
.quickEditor .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.quickEditor .hidden {
    display: none !important;
}
.quickEditor .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}
.quickEditor .sr-only.focusable:active, .quickEditor .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}
.quickEditor .invisible {
    visibility: hidden;
}
.quickEditor .inputWrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 5px 0;
    position: relative;
}
.quickEditor .inputWrapper label {
    width: 100%;
    display: block;
}
.quickEditor .editModeWrapper {
    margin-top: -10px;
}
.quickEditor .editorWrapper .quickButton {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
}
.quickEditor .editorWrapper .quickButton.active {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    background: #fafbfc;
    color: #4e5983;
    border: 0;
}
.quickEditor .tableEditMode {
    display: inline-block;
    opacity: 0.15;
}
.quickEditor .tableEditMode.active {
    display: inline-block;
    opacity: 1;
}
.quickEditor .tableEditMode li {
    display: inline-block;
    margin-right: 10px;
}
.quickEditor input {
    background: #fafbfc;
    border: 1px solid #c1dced;
    border-radius: 5px;
}
.quickEditor input[type="text"] {
    padding: 8px 12px;
    width: 100%;
    height: 36px;
    flex-grow: 1;
}
.quickEditor .inputSmall[type="text"] {
    height: 30px;
    font-size: 80%;
}
.quickEditor input::placeholder {
    color: #c1dced;
}
.quickEditor label {
    font-size: 80%;
    padding: 0 8px;
}
.quickEditor input:focus {
    outline: 0;
    border-color: #00c3b3;
}
.quickEditor select {
    background: #fafbfc;
    border: 1px solid #c1dced;
    border-radius: 5px;
    font-size: 80%;
}
.quickEditor select:focus {
    outline: 0;
    border-color: #00c3b3;
}
.quickEditor .quickButton {
    border-radius: 5px;
    padding: 8px 12px;
    width: 100%;
    height: 36px;
}
.quickEditor .quickButton:focus {
    outline: 0;
}
.quickEditor .buttonMini {
    border-radius: 5px;
    padding: 2px 6px;
    height: 18px;
    font-size: 50%;
    text-decoration: none;
    font-weight: bold;
}
.quickEditor .props .buttonMini {
    position: absolute;
    opacity: 0.4;
    right: 0;
    top: 5px;
}
.quickEditor .buttonMini.active {
    opacity: 1;
}
.quickEditor .buttonSmall {
    height: 30px;
    font-size: 80%;
    padding: 6px 8px;
}
.quickEditor .greenBtn {
    background: #00c3b3;
    border: 1px solid #00c3b3;
    color: #fff;
}
.quickEditor .redBtn {
    background: #ff6f79;
    border: 1px solid #ff6f79;
    color: #fff;
}
.quickEditor .blueBtn {
    background: #0492f2;
    border: 1px solid #0492f2;
    color: #fff;
}
.quickEditor .whiteBtn {
    background: #fff;
    border: 1px solid #c1dced;
    color: #4e5983;
}
.quickEditor .green {
    color: #00c3b3 !important;
}
.quickEditor .red {
    color: #ff6f79 !important;
}
.quickEditor .blue {
    color: #0492f2 !important;
}
.quickEditor .white {
    color: #fff !important;
}
.quickEditor .gray {
    color: #4e5983 !important;
}
.quickEditor .infoIcn {
    cursor: hand;
    cursor: pointer;
}
.quickEditor .quickButton:hover {
    filter: contrast(0.85);
}
.quickEditor header {
    height: 50px;
    padding: 10px 15px;
    width: 100%;
    display: block;
    font-size: 80%;
}
.quickEditor header i {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.quickEditor .contentBlock header i.errorCounter {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 99px;
    background: #00c3b3;
    color: #fff;
    font-weight: bold;
    padding: 4px;
    font-style: normal;
    font-size: 16px;
}
.quickEditor .checkWrapper {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 80%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.quickEditor .checkWrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.quickEditor .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fafbfc;
    border-radius: 99px;
    border: 1px solid #c1dced;
}
.quickEditor .checkWrapper:hover input ~ .checkmark {
    filter: contrast(0.9);
}
.quickEditor .checkWrapper input:checked ~ .checkmark {
    background-color: #2196f3;
    border-color: #2196f3;
}
.quickEditor .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.quickEditor .checkWrapper input:checked ~ .checkmark:after {
    display: block;
}
.quickEditor .checkWrapper .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.quickEditor .miniPopUp {
    position: absolute;
    top: 50px;
    width: 300px;
    padding: 15px;
    background: #fff;
    z-index: 11;
}
.quickEditor .miniPopUp .checkList li {
    border-top: 1px solid #e1eef6;
    padding: 10px 8px 0 8px !important;
}
.quickEditor .miniPopUp .checkList li i {
    position: absolute;
    top: 12px;
    right: 4px;
}
.quickEditor .bigPopUp {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 18;
    background: rgba(0, 0, 0, 0.65);
}
.quickEditor .bigPopUp header, .quickEditor .bigPopUp .content {
    width: calc(100% - 600px);
    margin: 0 auto;
}
.quickEditor .bigPopUp .content {
    background: #e1eef6;
    overflow: auto;
    min-height: 500px;
    max-height: calc(100vh - 100px);
}
.quickEditor .bigPopUp .content > ul {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e1eef6;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.quickEditor .bigPopUp .content ul.sub {
    padding: 0 0 0 20px;
    margin: 0;
}
.quickEditor .bigPopUp .content li {
    padding: 5px 0;
}
.quickEditor .bigPopUp .content ul.sub li {
    border-bottom: 1px solid #e1eef6;
}
.quickEditor .bigPopUp .content ul.sub li:last-child {
    border-bottom: 0;
}
.quickEditor .bigPopUp .content table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    font-size: 80%;
}
.quickEditor .bigPopUp .content table th {
    padding: 10px;
    border-right: 1px solid #fff;
    background: #e1eef6;
}
.quickEditor .bigPopUp .content table th:last-child {
    border-right: 0;
}
.quickEditor .bigPopUp .content table td {
    padding: 10px;
    border: 1px solid #e1eef6;
    border-left: 0;
}
.quickEditor .bigPopUp .content table td:first-child {
    border-left: 1px solid #e1eef6;
}
.quickEditor .bigPopUp .content table tr {
    border: 1px solid #e1eef6;
}
.quickEditor .bigPopUp .content li.tip {
    background: #e1eef6;
    padding: 5px 15px;
}
.quickEditor .bigPopUp .content h4 {
    margin: 5px 0;
}
.quickEditor .bigPopUp .content .sub h4 {
    font-size: 80%;
    display: inline-block;
    width: 30%;
    margin: 0;
}
.quickEditor .bigPopUp .content p {
    margin: 5px 0;
    font-size: 80%;
}
.quickEditor .bigPopUp .content .sub p {
    display: inline-block;
    width: 65%;
    margin: 0;
}
.quickEditor .bigPopUp header {
    background: #4e5983;
    color: #fff;
    font-weight: 600;
}
.quickEditor .bigPopUp header span {
    line-height: 30px;
}
.quickEditor .bigPopUp header i {
    font-size: 14px;
    text-align: center;
}
.quickEditor .bigPopUp header i:before {
    vertical-align: -webkit-baseline-middle;
}
.quickEditor .bigPopUp header ul {
    padding: 0;
    float: right;
}
.quickEditor .bigPopUp header ul li {
    display: inline-block;
    float: left;
    margin: 0 5px;
}
.quickEditor .leftBlock {
    width: 300px;
    display: inline-block;
    float: left;
    background: #fff;
}
.quickEditor .leftBlock.hide {
    width: 56px;
}
.quickEditor .leftBlock.hide .toggleBlock {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
.quickEditor .leftBlock.hide section {
    display: none;
}
.quickEditor .leftBlock.hide header i {
    display: none;
}
.quickEditor .leftBlock.hide header i:last-child {
    display: inline-block;
}
.quickEditor .leftBlock header {
    background: #fafbfc;
}
.quickEditor .leftBlock header i {
    font-size: 20px;
    text-align: center;
    color: #c1dced;
}
.quickEditor .leftBlock header i:hover {
    filter: contrast(0.9);
}
.quickEditor .leftBlock header i:before {
    vertical-align: middle;
}
.quickEditor .leftBlock header i.active {
    color: #2196f3;
}
.quickEditor .contentBlock header i:hover {
    color: #c1dced;
}
.quickEditor .leftBlock header i.toggleBlock {
    float: right;
    transition: transform 0.3s ease;
}
.quickEditor .leftBlock.hide header i.toggleBlock {
    color: #2196f3;
}
.quickEditor .filters {
    padding: 15px;
}
.quickEditor .quickButton.filter {
    width: 40px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.quickEditor .quickButton.filter i:before {
    font-size: 12px;
}
.quickEditor .filterInput {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.quickEditor .cardList, .quickEditor .tableList {
    padding: 0 15px;
}
.quickEditor .cardList h4, .quickEditor .rightBlock h4, .quickEditor .tableList h4 {
    border-bottom: 1px solid #e1eef6;
    padding: 8px;
    margin: 10px 0;
}
.quickEditor .cardList ul, .quickEditor .tableList ul {
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
.quickEditor .tableList ul li {
    background: #fafbfc;
    padding: 10px;
    margin: 5px;
    width: 100%;
    font-size: 80%;
    text-align: left;
    border-radius: 5px;
    vertical-align: top;
    cursor: hand;
    cursor: pointer;
    position: relative;
}
.quickEditor .cardList ul li {
    background: #fafbfc;
    padding: 15px 10px 10px 10px;
    margin: 5px;
    height: 110px;
    width: calc(50% - 13px);
    font-size: 80%;
    text-align: center;
    border-radius: 5px;
    vertical-align: top;
    cursor: hand;
    cursor: pointer;
    position: relative;
}
.quickEditor .tableList ul li i.infoIcn {
    color: #fafbfc;
    font-size: 125%;
    width: auto;
    height: auto;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 18px;
}
.quickEditor .cardList ul li i.infoIcn {
    color: #fafbfc;
    font-size: 125%;
    width: auto;
    height: auto;
    margin: 0;
    position: absolute;
    right: 8px;
    top: 8px;
}
.quickEditor .cardList ul li:hover i.infoIcn {
    color: #fff !important;
}
.quickEditor .tableList ul li span {
    display: inline-block;
    vertical-align: inherit;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 84px);
}
.quickEditor .cardList ul li span {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.quickEditor .tableList ul li i {
    display: inline-block;
    height: 30px;
    width: 30px;
    font-size: 30px;
    margin: 0 10px;
}
.quickEditor .cardList ul li i {
    display: block;
    height: 56px;
    width: 56px;
    font-size: 46px;
    margin: 0 auto 10px auto;
}
.quickEditor .cardList ul li i:before {
    vertical-align: middle;
}
.quickEditor .cardList ul li:hover i, .quickEditor .tableList ul li:hover i {
    color: #fff;
}
.quickEditor .cardList ul li:hover, .quickEditor .tableList ul li:hover {
    background: #0492f2;
    color: #fff;
}
.quickEditor .itemsScroll {
    overflow: auto;
}
.quickEditor .contentBlock {
    width: calc(100% - 600px);
    display: inline-block;
    float: left;
}
.quickEditor .contentBlock.wider {
    width: calc(100% - 356px);
    display: inline-block;
    float: left;
}
.quickEditor .contentBlock header {
    background: #0492f2;
    color: #fff;
    font-weight: 600;
}
.quickEditor .contentBlock header i {
    font-size: 20px;
    text-align: center;
}
.quickEditor .contentBlock header i:before {
    vertical-align: middle;
}
.quickEditor .contentBlock header i:hover {
    color: #c1dced;
}
.quickEditor .contentBlock header span {
    line-height: 30px;
}
.quickEditor .contentBlock header ul {
    padding: 0;
    float: right;
}
.quickEditor .contentBlock header ul li {
    display: inline-block;
    float: left;
    margin: 0 5px;
}
.quickEditor .content {
    padding: 15px;
}
.quickEditor .content #dropArea {
    background: #fff;
    padding: 20px;
    width: 100%;
}
.quickEditor .content section .editorWrapper {
    padding: 15px;
    border: 1px solid #c1dced;
    margin-bottom: 10px;
    position: relative;
    cursor: hand;
    cursor: pointer;
}
.quickEditor .content section .editorWrapper .fieldName {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 12px;
    font-size: 65%;
    background: #c1dced;
}
.quickEditor .content section .editorWrapper:hover .fieldName {
    background: #00c3b3;
    color: #fff;
}
.quickEditor .content section .editorWrapper:hover, .quickEditor .content section .editorWrapper.ative {
    border: 1px solid #00c3b3;
}
.quickEditor .rightBlock {
    width: 300px;
    display: inline-block;
    float: left;
    background: #fff;
}
.quickEditor .rightBlock > header {
    background: #0492f2;
    color: #fff;
    font-weight: 600;
    padding: 10px 0 0 0;
    position: relative;
}
.quickEditor .rightBlock > header i {
    font-size: 16px;
    text-align: center;
}
.quickEditor .rightBlock > header i:before {
    vertical-align: middle;
}
.quickEditor .rightBlock > header i:hover {
    color: #c1dced;
}
.quickEditor .rightBlock > header span {
    line-height: 30px;
}
.quickEditor .rightBlock > header ul {
    padding: 0;
    z-index: 2;
    overflow: auto;
}
.quickEditor .rightBlock > header ul li {
    display: inline-block;
    float: left;
    line-height: 30px;
    margin: 0;
    padding: 0 5px;
}
.quickEditor .rightBlock > header ul li span {
    padding: 0 10px;
    line-height: 35px;
}
.quickEditor .rightBlock > header ul li.active {
    background: #fff;
    box-shadow: 2px -1px 5px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.quickEditor .rightBlock > header ul li.active, .quickEditor .rightBlock > header ul li.active i:before {
    color: #4e5983;
}
.quickEditor .rightBlock > header .whiteDivider {
    display: block;
    width: 100%;
    background: #fff;
    height: 10px;
    bottom: 0;
    border-top: 2px solid #c3ddee;
    margin-top: -3px;
}
.quickEditor .rightBlock section {
    padding: 0 15px;
}
.quickEditor .rightBlock section .qButtonClass {
    width: 22%;
    margin-left: 10px;
}
.quickEditor .rightBlock .itemsScroll ul li {
    padding: 2px 0;
    position: relative;
}
.quickEditor .rightBlock section i:before {
    font-size: 14px;
}
.quickEditor .rightBlock .props i {
    vertical-align: middle;
}
.quickEditor .buttonsGroup {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}
.quickEditor .buttonsGroup li.single {
    width: 22%;
    margin: 1.5%;
}
.quickEditor .buttonsGroup li.double {
    width: 47%;
    margin: 1.5%;
}
.quickEditor .buttonsGroup li.triple {
    width: 72%;
    margin: 1.5%;
}
.quickEditor .buttonsGroup li.full {
    width: 97%;
    margin: 1.5%;
}
.quickEditor .overlayPopup {
    height: 100%;
}

  @media only screen and (min-width: 35em) {
  
  }
  